_build
_obj
_opam
.merlin
*.install
bootstrap/ocaml/config/auto-aux/Makefile
bootstrap/ocaml/config/auto-aux/hasgot.c
bootstrap/ocaml/config/auto-aux/m.h
bootstrap/ocaml/config/auto-aux/s.h
bootstrap/ocaml/config/auto-aux/tst
.duniverse-log
bootstrap/dune/_boot/
bootstrap/dune/boot.exe

