sudo: required
language: c
dist: bionic
install: wget https://raw.githubusercontent.com/ocaml/ocaml-ci-scripts/master/.travis-opam.sh
before_install:
  - $TRAVIS_BUILD_DIR/.travis-ci.sh
script: bash -ex .travis-opam.sh
matrix:
  include:
  - os: osx
    env: OCAML_VERSION=4.02
  - os: osx
    env: OCAML_VERSION=4.03
  - os: osx
    env: OCAML_VERSION=4.04
  - os: osx
    env: OCAML_VERSION=4.05
  - os: osx
    env: OCAML_VERSION=4.06
  - os: osx
    env: OCAML_VERSION=4.07
  - os: osx
    env: OCAML_VERSION=4.08
  - os: linux
    env: OCAML_VERSION=4.02 MCCS_BACKENDS="GLPK CBC CLP SYMPHONY" MCCS_LPSOLVER=/usr/share/mccs/cbclp
  - os: linux
    env: OCAML_VERSION=4.03 MCCS_BACKENDS="GLPK CBC CLP SYMPHONY" MCCS_LPSOLVER=/usr/share/mccs/cbclp
  - os: linux
    env: OCAML_VERSION=4.04 MCCS_BACKENDS="GLPK CBC CLP SYMPHONY" MCCS_LPSOLVER=/usr/share/mccs/cbclp
  - os: linux
    env: OCAML_VERSION=4.05 MCCS_BACKENDS="GLPK CBC CLP SYMPHONY" MCCS_LPSOLVER=/usr/share/mccs/cbclp
  - os: linux
    env: OCAML_VERSION=4.06 MCCS_BACKENDS="GLPK CBC CLP SYMPHONY" MCCS_LPSOLVER=/usr/share/mccs/cbclp
  - os: linux
    env: OCAML_VERSION=4.07 MCCS_BACKENDS="GLPK CBC CLP SYMPHONY" MCCS_LPSOLVER=/usr/share/mccs/cbclp
  - os: linux
    env: OCAML_VERSION=4.08 MCCS_BACKENDS="GLPK CBC CLP SYMPHONY" MCCS_LPSOLVER=/usr/share/mccs/cbclp
  - os: linux
    env: OCAML_VERSION=4.08 OPAM_SWITCH=ocaml-variants.4.08.0+force-safe-string MCCS_BACKENDS="GLPK CBC CLP SYMPHONY" MCCS_LPSOLVER=/usr/share/mccs/cbclp
addons:
  apt:
    update: true
