<TMPL_IF NAME="TOC">

<ul class="toc">
  <TMPL_LOOP NAME="BIBLIOGRAPHY">
  <li><a href='#<TMPL_VAR NAME="TYPE">'><TMPL_VAR NAME="TYPENAME"></a></li>
  </TMPL_LOOP>
</ul>

<div id="bibliography">
  <TMPL_LOOP NAME="BIBLIOGRAPHY">
  <TMPL_IF NAME="ENTRIES">
  <h1><a id='<TMPL_VAR NAME="TYPE">'><TMPL_VAR NAME="TYPENAME"></a></h1>
  </TMPL_IF>
  <TMPL_LOOP NAME="ENTRIES">
  <div class="entry well">
    <p class="title"><TMPL_VAR NAME="TITLE"></p>
    <p class="authors"><TMPL_VAR NAME="AUTHORS"></p>
    <p class="misc"><TMPL_VAR NAME="MISC"></p>
  </div>
  </TMPL_LOOP>
  </TMPL_LOOP>
</div>

<TMPL_ELSE>

<div id="bibliography">
  <TMPL_LOOP NAME="BIBLIOGRAPHY">
  <TMPL_IF NAME="ENTRIES">
  <h1><TMPL_VAR NAME="TYPENAME"></h1>
  </TMPL_IF>
  <TMPL_LOOP NAME="ENTRIES">
  <div class="entry well">
    <p class="title"><a href='<TMPL_VAR NAME="URL_KEYHTML">'><TMPL_VAR NAME="TITLE"></a></p>
    <p class="authors"><TMPL_VAR NAME="AUTHORS"></p>
    <p class="misc"><TMPL_VAR NAME="MISC"></p>
    <p><a href='<TMPL_VAR NAME="URL_KEYBIB">'>[bibtex]</a><TMPL_IF NAME="URL"><a href='<TMPL_VAR NAME="URL">'>[link]</a></TMPL_IF><TMPL_IF NAME="PDF"><a href='<TMPL_VAR NAME="PDF">'>[pdf]</a></TMPL_IF></p>
  </div>
  </TMPL_LOOP>
  </TMPL_LOOP>
</div>

</TMPL_IF>
